/* COLORS */
/* MAIN SETTINGS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Muli', sans-serif;
  color: #03040E;
  text-align: justify;
  cursor: default; }

html {
  width: 100%;
  height: 100%; }

body {
  width: 100%;
  height: 100%;
  background: #F4F4F4;
  overflow-x: hidden; }

a {
  text-decoration: none;
  cursor: pointer; }

.boxShadowRight {
  box-shadow: 10px 10px #03040E; }

.boxShadowLeft {
  box-shadow: -10px 10px #03040E; }

/* SPECIFIC SETTINGS */
nav {
  position: fixed;
  background: #F4F4F4;
  z-index: 1;
  right: 25px;
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  padding: 5px;
  padding-left: 2%;
  padding-right: 2%; }
  nav * {
    border: 5px solid #03040E;
    margin: 5px 0px;
    padding: 5px 10px; }
  nav a {
    text-decoration: none;
    background: none;
    border: none;
    color: inherit;
    font-weight: bold; }
  nav img {
    flex: 2;
    max-height: 50%;
    object-fit: contain;
    padding: 5px 10px;
    border: 10px solid #03040E;
    margin-bottom: 10px;
    margin-left: auto; }
  nav h1, nav h2 {
    text-align: center;
    padding: 5px 15px; }
  nav h1 {
    flex: 0;
    background: #C21B11;
    color: #F4F4F4;
    margin-right: auto;
    margin-bottom: 15px;
    padding: 10px 25px;
    font-size: 2em; }
  nav h2 {
    flex: 0;
    background: #F3EC01;
    color: #03040E;
    font-size: 1.1em; }
  nav ul {
    flex: 1;
    width: 100%;
    display: none;
    list-style: none;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: visible;
    margin-bottom: 5px; }
    nav ul li {
      font-weight: bold;
      cursor: pointer;
      padding: 5px 20px; }
    nav ul li:hover {
      box-shadow: -5px 5px #03040E;
      transition: 0.1s; }
    nav ul li:nth-of-type(4n+1) {
      background: #03040E;
      color: #F4F4F4;
      margin-left: auto;
      margin-right: auto; }
    nav ul li:nth-of-type(4n+2) {
      background: #152182;
      color: #F4F4F4;
      margin-left: 50%; }
    nav ul li:nth-of-type(4n+3) {
      background: #C21B11;
      color: #F4F4F4;
      margin-right: 25%; }
    nav ul li:nth-of-type(4n+4) {
      background: #F4F4F4;
      color: #03040E;
      margin-left: 50%; }
  nav #mobile {
    display: none; }

div {
  min-height: 100%;
  margin-left: 27%; }
  div * {
    border: 5px solid #03040E;
    margin: 5px 0px;
    padding: 5px; }
  div h1 {
    margin-top: 50px; }

#edito {
  position: relative;
  margin-left: 5%;
  margin-right: 27%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
  #edito h1 {
    margin-right: 5%;
    margin-left: auto;
    margin-bottom: 20px;
    padding: 10px 25px;
    background: #152182;
    color: #F4F4F4;
    box-shadow: 10px 10px #03040E; }
  #edito p {
    margin-right: 25%;
    margin-left: 5%;
    padding: 10px 15px;
    border: 6px solid #03040E;
    text-indent: 50px; }

#realisations {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
  #realisations h1 {
    margin-left: 5%;
    margin-right: auto;
    padding: 10px 25px;
    background: #C21B11;
    color: #F4F4F4;
    margin-bottom: 20px; }
  #realisations i {
    border: none;
    background: inherit;
    color: inherit; }
  #realisations section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: none;
    padding: none; }
  #realisations article {
    border: none;
    padding: 10px 15px; }
    #realisations article * {
      cursor: pointer; }
    #realisations article h2 {
      padding: 10px 25px;
      background: #152182;
      color: #F4F4F4;
      text-align: center; }
    #realisations article h4 {
      padding: 10px 15px;
      background: #F3EC01;
      text-align: center; }
    #realisations article img {
      height: 200px;
      width: 100%;
      object-fit: contain; }
    #realisations article p {
      padding: 10px 25px;
      cursor: default; }
      #realisations article p b {
        border: none;
        margin: 0;
        padding: 0;
        cursor: default; }
      #realisations article p a {
        border: none;
        margin: 0;
        padding: 0;
        text-decoration: underline;
        font-weight: bold; }
      #realisations article p img {
        max-width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        border: none;
        cursor: default; }

#cv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap; }
  #cv h1 {
    text-align: center;
    margin-left: auto;
    margin-right: 5%;
    padding: 10px 25px;
    background: #F3EC01;
    margin-bottom: 20px; }
  #cv section {
    margin-left: 5%;
    margin-right: 15%;
    padding: 0;
    border: none; }
    #cv section article {
      display: flex;
      flex-direction: column;
      text-align: justify;
      border: none; }
      #cv section article div {
        min-height: 0; }
        #cv section article div * {
          border: none; }
      #cv section article .back {
        margin: 0;
        margin-top: 5px;
        padding: 0;
        background: #F4F4F4; }
        #cv section article .back p {
          text-align: right;
          padding-right: 20px;
          padding-top: 7px;
          padding-bottom: 7px;
          margin-top: 0;
          margin-bottom: 0;
          font-size: 0.7em;
          color: #F4F4F4;
          font-weight: bold; }
      #cv section article ul {
        display: none; }
      #cv section article h6 {
        text-align: right;
        margin-top: 0;
        padding-top: 0; }
      #cv section article button {
        text-align: center;
        font-weight: bold;
        font-size: 1em;
        cursor: pointer; }
        #cv section article button i {
          border: none;
          background: inherit;
          color: inherit; }
    #cv section #competences button {
      background: #152182;
      color: #F4F4F4; }
    #cv section #competences .back {
      border: 5px solid #03040E; }
    #cv section #competences p {
      background: #152182; }
    #cv section #professionnel button {
      background: #C21B11;
      color: #F4F4F4; }
    #cv section #professionnel h4 {
      border: 5px solid #03040E;
      width: 75%;
      text-align: center;
      background: #F4F4F4;
      color: #03040E; }
    #cv section #professionnel .back {
      width: 100%;
      background: #C21B11; }
    #cv section #professionnel a {
      color: #C21B11;
      font-weight: bold; }
    #cv section #formation button {
      background: #03040E;
      color: #F4F4F4; }
    #cv section #formation h4 {
      border: 5px solid #03040E;
      width: 75%;
      text-align: center;
      background: #F4F4F4;
      color: #03040E; }
    #cv section #formation .back {
      width: 100%;
      background: #03040E; }
    #cv section #formation p:last-of-type b:nth-of-type(1) {
      color: #152182; }
    #cv section #formation p:last-of-type b:nth-of-type(2) {
      color: #C21B11; }
    #cv section #loisirs h4 {
      border: 5px solid #03040E;
      width: 75%;
      text-align: center;
      background: #03040E;
      color: #F4F4F4;
      margin-top: 0;
      margin-bottom: 0; }
    #cv section #loisirs .back {
      border: 5px solid #03040E;
      padding-top: 0;
      padding-bottom: 0;
      width: 100%;
      background: #F4F4F4; }

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
  #contact h1 {
    margin-left: 5%;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 10px 25px;
    border: 5px solid #03040E; }
  #contact svg {
    border: none;
    flex: 1;
    max-width: 40%;
    margin-bottom: 25px; }
  #contact form {
    border: none;
    margin-left: 5%;
    margin-right: 5%; }
    #contact form input {
      cursor: text;
      background: #F4F4F4; }
    #contact form fieldset * {
      margin: 10px 20px;
      padding: 5px 20px; }
    #contact form fieldset:last-of-type textarea {
      width: 100%;
      box-shadow: none;
      cursor: text;
      background: #F4F4F4; }
    #contact form fieldset:last-of-type textarea:hover {
      box-shadow: 5px 5px #03040E;
      transition: 0.1s; }
    #contact form fieldset:last-of-type input:last-of-type {
      width: 100%;
      text-align: right;
      font-weight: bold;
      background: #F3EC01;
      cursor: pointer; }
    #contact form input:hover {
      box-shadow: 5px 5px #03040E;
      transition: 0.1s; }
  #contact ul {
    align-self: center;
    border: none;
    margin-bottom: 25px; }
    #contact ul a {
      border: none;
      background: inherit;
      color: inherit;
      font-weight: bold; }
    #contact ul li {
      list-style: none;
      background: #152182;
      color: #F4F4F4;
      text-align: center;
      cursor: pointer;
      padding: 5px 20px;
      font-size: 1.5em; }
    #contact ul a:nth-of-type(1) li {
      background: #F3EC01;
      color: #03040E; }
    #contact ul a:nth-of-type(2) li {
      background: #C21B11;
      color: #F4F4F4; }
    #contact ul a:nth-of-type(3) li {
      background: #152182;
      color: #F4F4F4; }
    #contact ul li:hover {
      box-shadow: -5px 5px #03040E;
      transition: 0.1s; }
  #contact p {
    border: none;
    padding: 0;
    margin: 0;
    opacity: 0.7;
    font-size: 0.7em; }
    #contact p a {
      border: none;
      text-decoration: underline; }
  #contact p:last-of-type {
    margin-bottom: 25px; }

@media all and (orientation: portrait) {
  body {
    max-width: 100%; }

  * {
    max-width: 100%; }

  #realisations, #edito {
    position: static; }

  nav {
    position: static;
    width: auto;
    height: 100%;
    margin-right: 5%;
    margin-left: 5%;
    justify-content: flex-end;
    margin-bottom: 50px; }
    nav ul:first-of-type {
      display: none; }
    nav #mobile {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      max-width: 100%; }
      nav #mobile li {
        font-weight: bold;
        align-self: stretch;
        margin-top: 0;
        margin-bottom: 5px;
        padding: 5px;
        text-align: center;
        border: 5px solid #03040E; }
      nav #mobile li:nth-of-type(4n+1) {
        margin-left: 0;
        margin-right: 0; }
      nav #mobile li:nth-of-type(4n+2) {
        margin-left: 0;
        margin-right: 0; }
      nav #mobile li:nth-of-type(4n+3) {
        margin-left: 0;
        margin-right: 0; }
      nav #mobile li:nth-of-type(4n+4) {
        margin-left: 0;
        margin-right: 0; }

  div {
    margin-left: 0; }

  #edito p {
    margin-right: 5%; }

  #edito {
    margin-bottom: 50px;
    margin-right: 0; }

  #realisations article {
    width: 100%; } }

/*# sourceMappingURL=style.css.map */
